# docs/openapi.yaml — uaip.cc.cd 的 OpenAPI 3.1 規格（v2.0.0 Phase L，ADR-0010）。
# 人讀的敘事文件仍以 API.md 為原稿（/api-docs 頁）；這份是機器可讀的介面契約，
# 由 tools/build-openapi.mjs 轉成 JSON、經 GET /openapi.json 供應、餵 /api-docs 的互動式參考。
# 同步義務（三件套）：改 API ＝ API.md ＋ 本檔 ＋ `npm run apidoc`／`npm run openapi` 重產。
# CI 有雙向防漂移：路由表(src/routes.ts) × 本檔 paths 必須一一對應（test/int/openapi.test.ts）。
openapi: 3.1.0
info:
  title: uaip.cc.cd API
  version: 2.0.0
  description: |
    邊緣原生的 LLM gateway ＋ 個人門戶（Cloudflare Workers、零框架、零執行期依賴、D1 單庫）。

    驗證方式：
    * **管理金鑰** — `Authorization: Bearer <LOGS_TOKEN>`（管理員 API）
    * **登入 cookie** — Google OAuth 建立的 `ipua_sess`（會員 API；寫入類另檢查 Origin）
    * **會員金鑰** — `uak-…`（只用於 /relay 轉發）
    * **匿名** — 公開讀取；Playground 體驗模式開啟時匿名可試聊（fail-closed 限流）
  license:
    name: MIT
    url: https://github.com/Jhongwe1/uaip/blob/main/LICENSE
servers:
  - url: https://uaip.cc.cd
tags:
  - name: 公開
    description: 免驗證的公開 API
  - name: 內容
    description: 文章／自訂頁面的公開讀取
  - name: 會員
    description: 需要登入 cookie 的會員自助 API
  - name: Playground
    description: LLM Playground（會員；體驗模式開啟時部分開放匿名）
  - name: 管理員
    description: 需要管理金鑰（或管理員 cookie）的管理 API
  - name: Auth
    description: Google OAuth 登入流程
  - name: 中轉與VPN
    description: API 中轉轉發與 VPN 訂閱（各自的驗證方式）
  - name: 頁面
    description: 伺服器渲染的 HTML 頁面（列出來讓規格覆蓋全部路由）

components:
  securitySchemes:
    adminToken:
      type: http
      scheme: bearer
      description: 管理金鑰（LOGS_TOKEN）
    sessionCookie:
      type: apiKey
      in: cookie
      name: ipua_sess
      description: Google 登入後的 session cookie
    memberKey:
      type: http
      scheme: bearer
      description: 會員 API 金鑰（uak-…；只用於 /relay）
  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error: { type: string, description: 機器可讀錯誤碼（例 unauthorized / bad-input / quota-exceeded） }
        hint: { type: string, description: 人看的中文提示 }
        detail: { type: string, description: 細節（部分端點只有管理員看得到） }
    Article:
      type: object
      properties:
        id: { type: integer }
        category: { type: string, enum: [news, article] }
        title: { type: string }
        summary: { type: string }
        cover: { type: string }
        status: { type: string, enum: [draft, published] }
        views: { type: integer }
        created_at: { type: string }
        updated_at: { type: string }
        published_at: { type: [string, "null"] }
    Page:
      type: object
      properties:
        id: { type: integer }
        slug: { type: string }
        title: { type: string }
        summary: { type: string }
        status: { type: string, enum: [draft, published] }
    MenuItem:
      type: object
      properties:
        kind: { type: string, enum: [section, link] }
        label: { type: string }
        label_en: { type: string }
        url: { type: string }
    PriceRow:
      type: object
      required: [pattern, input_usd_per_m, output_usd_per_m]
      properties:
        pattern: { type: string, description: 模型名；尾端 '*'＝前綴匹配（精確 > 最長前綴） }
        input_usd_per_m: { type: number, minimum: 0 }
        output_usd_per_m: { type: number, minimum: 0 }
        note: { type: string }
        updated_at: { type: string }
    ChatRequest:
      type: object
      required: [channel, model, messages]
      properties:
        conv_id: { type: [integer, "null"], description: 不帶＝開新對話（demo 模式一律忽略） }
        channel: { type: string }
        model: { type: string }
        messages:
          type: array
          items:
            type: object
            required: [role, content]
            properties:
              role: { type: string, enum: [user, assistant, system] }
              content: { type: string }
  responses:
    Unauthorized:
      description: 未驗證（401）
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    HtmlPage:
      description: 伺服器渲染的 HTML（含 CSP nonce、安全標頭）
      content:
        text/html:
          schema: { type: string }

paths:
  # ===== 公開 API =====
  /api/health:
    get:
      tags: [公開]
      summary: 健康檢查
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  version: { type: string }
                  db: { type: boolean }
  /api/whoami:
    get:
      tags: [公開]
      summary: 回傳 Cloudflare 邊緣觀測到的請求資訊（IP、UA、地理、ASN、TLS…）
      responses:
        "200": { description: 請求資訊 JSON }
  /api/me:
    get:
      tags: [會員]
      summary: 目前登入者（未登入回 user:null；含今日用量摘要）
      security: [{ sessionCookie: [] }, {}]
      responses:
        "200": { description: "{ user }" }
  /api/menu:
    get:
      tags: [公開]
      summary: 側邊欄選單（自訂或內建預設）
      responses:
        "200": { description: "{ items, custom }" }
  /api/settings:
    get:
      tags: [公開]
      summary: 網站公開設定（brand／pg_open／contact_url／demo，白名單）
      responses:
        "200": { description: "{ brand, custom, pg_open, contact_url, demo }" }
  /api/csp-report:
    post:
      tags: [公開]
      summary: CSP 違規回報端點（10% 取樣進站內錯誤日誌）
      requestBody:
        content:
          application/csp-report: { schema: { type: object } }
          application/json: { schema: { type: object } }
      responses:
        "204": { description: 收下（永遠 204） }
  /openapi.json:
    get:
      tags: [公開]
      summary: 本規格的 JSON 版（tools/build-openapi.mjs 由 docs/openapi.yaml 產生）
      responses:
        "200": { description: OpenAPI 3.1 JSON }

  # ===== 內容（公開讀取） =====
  /api/articles:
    get:
      tags: [內容]
      summary: 已發佈文章列表
      parameters:
        - { name: category, in: query, schema: { type: string, enum: [news, article] } }
        - { name: limit, in: query, schema: { type: integer, maximum: 50 } }
        - { name: offset, in: query, schema: { type: integer } }
        - { name: q, in: query, schema: { type: string }, description: 標題／摘要模糊搜尋 }
      responses:
        "200":
          description: "{ rows, total }"
          content:
            application/json:
              schema:
                type: object
                properties:
                  rows: { type: array, items: { $ref: "#/components/schemas/Article" } }
                  total: { type: integer }
  /api/articles/{id}:
    get:
      tags: [內容]
      summary: 單篇已發佈文章（?html=1 回消毒後 HTML）
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
        - { name: html, in: query, schema: { type: string, enum: ["1"] } }
      responses:
        "200": { description: "{ article }" }
        "404":
          {
            description: 不存在或未發佈,
            content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
          }
  /api/pages:
    get:
      tags: [內容]
      summary: 已發佈自訂頁面列表
      responses:
        "200": { description: "{ rows }" }
  /api/pages/{slug}:
    get:
      tags: [內容]
      summary: 單一已發佈自訂頁面（?html=1 回消毒後 HTML）
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: "{ page }" }
        "404": { description: 不存在或未發佈 }
  /api/relay/channels:
    get:
      tags: [會員]
      summary: 中轉渠道清單（會員視角：只有 slug 與名稱，永不含上游）
      security: [{ sessionCookie: [] }, { adminToken: [] }]
      responses:
        "200": { description: "{ rows:[{slug,name}] }" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  # ===== Playground =====
  /api/playground/models:
    get:
      tags: [Playground]
      summary: 可選模型清單（依渠道分組；demo 開啟時匿名回體驗組）
      security: [{ sessionCookie: [] }, { adminToken: [] }, {}]
      responses:
        "200": { description: "{ rows:[{slug,name,models}], demo? }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /api/playground/chat:
    post:
      tags: [Playground]
      summary: 聊天（SSE 串流；demo 模式匿名可用、fail-closed 限流）
      description: |
        SSE 事件流：`{conv,title?}`（demo 為 `{demo:true}`）→ 多筆 `{r:"思考增量"}`／`{d:"增量"}` → `{done:true}`；
        中途錯誤 `{error,hint}`。上游一開始就失敗直接回 JSON 錯誤。
        `r` 是推理模型的思考過程（reasoning_content / reasoning / thinking_delta / gemini thought part），
        不寫進資料庫、非推理模型不會出現。整趟沒有任何 `d` → `{error:"empty-output",hint}`，不會靜默結束。
        demo 限制：渠道/模型鎖白名單、輸入 4000 字、強制 demo_max_tokens、對話不落地；
        超額 429（demo-rate-limited / demo-quota-exceeded）、限流器故障 503（demo-unavailable）。
      security: [{ sessionCookie: [] }, { adminToken: [] }, {}]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ChatRequest" }
      responses:
        "200": { description: SSE（text/event-stream） }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429":
          {
            description: 配額或限流,
            content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
          }
  /api/playground/conversations:
    get:
      tags: [Playground]
      summary: 自己的對話列表（新→舊，最多 100）
      security: [{ sessionCookie: [] }, { adminToken: [] }]
      responses:
        "200": { description: "{ rows }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /api/playground/conversations/{id}:
    get:
      tags: [Playground]
      summary: 讀單一對話（含訊息）
      security: [{ sessionCookie: [] }, { adminToken: [] }]
      parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
      responses:
        "200": { description: "{ conv, messages }" }
        "404": { description: 不存在或不是自己的 }
    put:
      tags: [Playground]
      summary: 改對話名稱
      security: [{ sessionCookie: [] }, { adminToken: [] }]
      parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, properties: { title: { type: string, maxLength: 60 } } }
      responses:
        "200": { description: "{ ok, title }" }
    delete:
      tags: [Playground]
      summary: 刪除對話（連同訊息）
      security: [{ sessionCookie: [] }, { adminToken: [] }]
      parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
      responses:
        "200": { description: "{ ok }" }

  # ===== 會員自助 =====
  /api/account/key:
    post:
      tags: [會員]
      summary: 產生／重生會員 API 金鑰（明文只回這一次；舊金鑰立即失效）
      security: [{ sessionCookie: [] }]
      responses:
        "200": { description: "{ key, key_hint, key_at }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    delete:
      tags: [會員]
      summary: 撤銷金鑰
      security: [{ sessionCookie: [] }]
      responses:
        "200": { description: "{ ok }" }
  /api/account/vpn-token:
    post:
      tags: [會員]
      summary: 重生 VPN 訂閱網址代碼（要有 vpn 服務）
      security: [{ sessionCookie: [] }]
      responses:
        "200": { description: "{ vpn_token }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /api/account/logout-all:
    post:
      tags: [會員]
      summary: 登出所有裝置（撤銷全部 session）
      security: [{ sessionCookie: [] }]
      responses:
        "200": { description: "{ ok }" }

  # ===== 管理員 =====
  /api/logs:
    get:
      tags: [管理員]
      summary: 訪客紀錄查詢（limit/offset/q/since）
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      parameters:
        - { name: limit, in: query, schema: { type: integer, maximum: 200 } }
        - { name: offset, in: query, schema: { type: integer } }
        - { name: q, in: query, schema: { type: string } }
        - { name: since, in: query, schema: { type: string } }
      responses:
        "200": { description: "{ rows, total, today?, todayIps? }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /api/admin/apidoc:
    get:
      tags: [管理員]
      summary: API.md 原稿（{ md }）
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      responses:
        "200": { description: "{ md }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /api/admin/errors:
    get:
      tags: [管理員]
      summary: 站內錯誤日誌（?limit&offset&src）
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      responses:
        "200": { description: "{ rows, total }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    delete:
      tags: [管理員]
      summary: 清空錯誤日誌
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      responses:
        "200": { description: "{ ok }" }
  /api/admin/conversations:
    get:
      tags: [管理員]
      summary: 全站 Playground 對話總表（新→舊，帶會員信箱）
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      parameters:
        - { name: limit, in: query, schema: { type: integer, default: 50, maximum: 200 } }
        - { name: offset, in: query, schema: { type: integer, default: 0 } }
        - {
            name: q,
            in: query,
            description: 模糊搜尋標題／會員信箱／姓名／模型／渠道,
            schema: { type: string }
          }
        - { name: user_id, in: query, description: 只看某個會員, schema: { type: integer } }
      responses:
        "200": { description: "{ rows, total }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /api/admin/conversations/{id}:
    get:
      tags: [管理員]
      summary: 讀任一會員的單則對話（含全部訊息，舊→新）
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
      responses:
        "200": { description: "{ conv, messages }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { description: 找不到這個對話 }
  /api/admin/media:
    post:
      tags: [管理員]
      summary: 上傳圖片（進 D1；由 /img/{id} 供應）
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      requestBody:
        content:
          image/*: { schema: { type: string, format: binary } }
      responses:
        "200": { description: "{ id, url }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /api/admin/menu:
    put:
      tags: [管理員]
      summary: 整包覆蓋側邊欄選單（空陣列＝還原內建預設）
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [items]
              properties:
                items: { type: array, items: { $ref: "#/components/schemas/MenuItem" } }
      responses:
        "200": { description: "{ ok, count, custom }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /api/admin/settings:
    get:
      tags: [管理員]
      summary: 目前存的網站設定原況（數字鍵沒設過回 null；另附 defaults、demo_active 與 Telegram 遮罩狀態）
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      responses:
        "200":
          {
            description: "{ ok, brand, custom, contact_url, pg_open, relay_meter, quota_*, demo_*, demo_active, defaults }"
          }
        "401": { $ref: "#/components/responses/Unauthorized" }
    put:
      tags: [管理員]
      summary: 改網站設定（帶哪鍵改哪鍵：brand／contact_url／pg_open／配額全域預設／relay_meter／demo_*／tg_*）
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      requestBody:
        required: true
        content:
          application/json: { schema: { type: object } }
      responses:
        "200": { description: 改完的現況 }
        "400": { description: 驗證失敗 }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /api/admin/stats:
    get:
      tags: [管理員]
      summary: 用量統計（每日×服務／渠道×模型／每人彙總／耗時原始值／估算成本）
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      parameters: [{ name: days, in: query, schema: { type: integer, minimum: 1, maximum: 90 } }]
      responses:
        "200":
          { description: "{ days, since, by_day, by_channel, by_user, durs, cost_total, unpriced_models }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /api/admin/prices:
    get:
      tags: [管理員]
      summary: 模型定價表（成本記帳）
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      responses:
        "200": { description: "{ items }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    put:
      tags: [管理員]
      summary: 整包覆蓋定價表（pattern 尾端 *＝前綴匹配；空陣列＝清空）
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [items]
              properties:
                items: { type: array, items: { $ref: "#/components/schemas/PriceRow" } }
      responses:
        "200": { description: "{ ok, count }" }
        "400": { description: 驗證失敗 }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /api/admin/articles:
    get:
      tags: [管理員]
      summary: 全部文章（含草稿）
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      responses:
        "200": { description: "{ rows }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [管理員]
      summary: 新增文章
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      requestBody:
        required: true
        content:
          application/json: { schema: { $ref: "#/components/schemas/Article" } }
      responses:
        "200": { description: "{ ok, id }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /api/admin/articles/{id}:
    get:
      tags: [管理員]
      summary: 讀單篇（含草稿與原稿）
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
      responses:
        "200": { description: "{ article }" }
        "404": { description: 不存在 }
    put:
      tags: [管理員]
      summary: 更新文章（整包覆蓋）
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
      requestBody:
        required: true
        content:
          application/json: { schema: { $ref: "#/components/schemas/Article" } }
      responses:
        "200": { description: "{ ok }" }
    delete:
      tags: [管理員]
      summary: 刪除文章（不可復原）
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
      responses:
        "200": { description: "{ ok }" }
  /api/admin/pages:
    get:
      tags: [管理員]
      summary: 全部自訂頁面（含草稿）
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      responses:
        "200": { description: "{ rows }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [管理員]
      summary: 新增自訂頁面（開新連結 /p/{slug}）
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      requestBody:
        required: true
        content:
          application/json: { schema: { $ref: "#/components/schemas/Page" } }
      responses:
        "200": { description: "{ ok, id, url }" }
  /api/admin/pages/{key}:
    get:
      tags: [管理員]
      summary: 讀單頁（id 或 slug）
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      parameters: [{ name: key, in: path, required: true, schema: { type: string } }]
      responses:
        "200": { description: "{ page }" }
        "404": { description: 不存在 }
    put:
      tags: [管理員]
      summary: 更新頁面（整包覆蓋，可改 slug）
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      parameters: [{ name: key, in: path, required: true, schema: { type: string } }]
      requestBody:
        required: true
        content:
          application/json: { schema: { $ref: "#/components/schemas/Page" } }
      responses:
        "200": { description: "{ ok }" }
    delete:
      tags: [管理員]
      summary: 刪除頁面（不可復原）
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      parameters: [{ name: key, in: path, required: true, schema: { type: string } }]
      responses:
        "200": { description: "{ ok }" }
  /api/admin/users:
    get:
      tags: [管理員]
      summary: 全部會員（狀態、已批准服務、用量、最後登入）
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      responses:
        "200": { description: "{ rows }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /api/admin/users/{id}:
    put:
      tags: [管理員]
      summary: 會員操作（{action}＝approve/block/…/set_services/set_quota/revoke_sessions）
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action: { type: string }
      responses:
        "200": { description: "{ ok, user }" }
    delete:
      tags: [管理員]
      summary: 刪除會員
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
      responses:
        "200": { description: "{ ok }" }
  /api/admin/relay/channels:
    get:
      tags: [管理員]
      summary: 全部中轉管道（上游金鑰遮罩）
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      responses:
        "200": { description: "{ rows }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [管理員]
      summary: 新增中轉管道（models 必填）
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      requestBody:
        required: true
        content:
          application/json: { schema: { type: object } }
      responses:
        "200": { description: "{ ok, channel }" }
  /api/admin/relay/channels/{id}:
    put:
      tags: [管理員]
      summary: 更新管道（沒帶 api_key＝保留舊金鑰）
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
      requestBody: { required: true, content: { application/json: { schema: { type: object } } } }
      responses:
        "200": { description: "{ ok }" }
    delete:
      tags: [管理員]
      summary: 刪除管道
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
      responses:
        "200": { description: "{ ok }" }
  /api/admin/vpn/channels:
    get:
      tags: [管理員]
      summary: 全部 VPN 渠道（上游訂閱網址遮罩）
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      responses:
        "200": { description: "{ rows }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [管理員]
      summary: 新增 VPN 渠道（機場訂閱或手動節點）
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      requestBody: { required: true, content: { application/json: { schema: { type: object } } } }
      responses:
        "200": { description: "{ ok, channel }" }
  /api/admin/vpn/channels/{id}:
    put:
      tags: [管理員]
      summary: 更新渠道（沒帶 url＝保留舊網址）
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
      requestBody: { required: true, content: { application/json: { schema: { type: object } } } }
      responses:
        "200": { description: "{ ok }" }
    delete:
      tags: [管理員]
      summary: 刪除渠道
      security: [{ adminToken: [] }, { sessionCookie: [] }]
      parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
      responses:
        "200": { description: "{ ok }" }

  # ===== Auth =====
  /auth/login:
    get:
      tags: [Auth]
      summary: 轉向 Google OAuth（本機 dev 顯示測試登入表單）
      parameters: [{ name: next, in: query, schema: { type: string } }]
      responses:
        "302": { description: 轉向 Google }
    post:
      tags: [Auth]
      summary: 本機 dev 測試登入（僅 localhost）
      responses:
        "302": { description: 登入後轉向 }
  /auth/logout:
    get:
      tags: [Auth]
      summary: 登出（清 session）
      responses:
        "302": { description: 轉向首頁 }
    post:
      tags: [Auth]
      summary: 登出（POST 版，過 Origin 檢查）
      responses:
        "302": { description: 轉向首頁 }
  /auth/callback:
    get:
      tags: [Auth]
      summary: Google OAuth 回呼（驗 state／aud／email_verified）
      responses:
        "302": { description: 建 session 後轉向 }

  # ===== 中轉與 VPN =====
  /relay:
    get:
      tags: [中轉與VPN]
      summary: /relay 操作頁（會員：金鑰管理；管理員：渠道管理）—實際接受所有方法
      responses:
        "200": { $ref: "#/components/responses/HtmlPage" }
  /relay/{path}:
    post:
      tags: [中轉與VPN]
      summary: API 中轉轉發（/relay/{渠道slug}/{上游路徑}；帶 uak- 會員金鑰；接受所有方法）
      description: 伺服器把驗證換成管理員存的上游金鑰後轉發；串流照走；計量只掃回應尾端。
      security: [{ memberKey: [] }]
      parameters:
        [
          {
            name: path,
            in: path,
            required: true,
            schema: { type: string },
            description: 渠道 slug＋上游路徑（catch-all）
          }
        ]
      responses:
        "200": { description: 上游回應（原樣轉發） }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { description: 配額或限流 }
    get:
      tags: [中轉與VPN]
      summary: 同上（GET 轉發）
      security: [{ memberKey: [] }]
      parameters: [{ name: path, in: path, required: true, schema: { type: string } }]
      responses:
        "200": { description: 上游回應 }
  /vpn:
    get:
      tags: [中轉與VPN]
      summary: VPN 訂閱頁（無 vpn 權限者隱形＝回 SPA 殼）
      responses:
        "200": { $ref: "#/components/responses/HtmlPage" }
  /vpn/sub/{token}:
    get:
      tags: [中轉與VPN]
      summary: 會員訂閱網址（多渠道合併去重；token 可重生）
      parameters: [{ name: token, in: path, required: true, schema: { type: string } }]
      responses:
        "200": { description: base64 節點清單 }
        "404": { description: token 無效（回 SPA 殼，隱形） }

  # ===== HTML 頁面 =====
  /:
    get:
      tags: [頁面]
      summary: 根路徑（302 → /playground）
      responses:
        "302": { description: 轉向 }
  /feed:
    get:
      tags: [頁面]
      summary: RSS 2.0（已發佈新聞／文章）
      responses:
        "200": { description: application/rss+xml }
  /sitemap:
    get:
      tags: [頁面]
      summary: sitemap.xml
      responses:
        "200": { description: application/xml }
  /admin:
    get:
      tags: [頁面]
      summary: 內容後台（金鑰閘門）
      responses:
        "200": { $ref: "#/components/responses/HtmlPage" }
  /api-docs:
    get:
      tags: [頁面]
      summary: API 文件頁（公開；noindex）
      responses:
        "200": { $ref: "#/components/responses/HtmlPage" }
  /logs:
    get:
      tags: [頁面]
      summary: 訪客紀錄管理頁（金鑰閘門）
      responses:
        "200": { $ref: "#/components/responses/HtmlPage" }
  /members:
    get:
      tags: [頁面]
      summary: 成員管理頁（管理員）
      responses:
        "200": { $ref: "#/components/responses/HtmlPage" }
  /settings:
    get:
      tags: [頁面]
      summary: 管理員設定頁（金鑰閘門；站名／聯絡連結／Playground 與體驗模式／配額／計量／定價／自訂頁面）
      responses:
        "200": { $ref: "#/components/responses/HtmlPage" }
  /playground:
    get:
      tags: [頁面]
      summary: LLM Playground（會員；demo 開啟時匿名可試聊）
      responses:
        "200": { $ref: "#/components/responses/HtmlPage" }
  /news:
    get:
      tags: [頁面]
      summary: 新聞列表（SSR）
      responses:
        "200": { $ref: "#/components/responses/HtmlPage" }
  /news/{id}:
    get:
      tags: [頁面]
      summary: 新聞內頁（SSR；含結構化資料）
      parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
      responses:
        "200": { $ref: "#/components/responses/HtmlPage" }
        "404": { description: 不存在 }
  /articles:
    get:
      tags: [頁面]
      summary: 文章列表（SSR）
      responses:
        "200": { $ref: "#/components/responses/HtmlPage" }
  /articles/{id}:
    get:
      tags: [頁面]
      summary: 文章內頁（SSR）
      parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
      responses:
        "200": { $ref: "#/components/responses/HtmlPage" }
  /p/{slug}:
    get:
      tags: [頁面]
      summary: 自訂頁面（SSR）
      parameters: [{ name: slug, in: path, required: true, schema: { type: string } }]
      responses:
        "200": { $ref: "#/components/responses/HtmlPage" }
        "404": { description: 不存在 }
  /img/{id}:
    get:
      tags: [頁面]
      summary: 圖片（D1 BLOB；一年 immutable 邊緣快取）
      parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
      responses:
        "200": { description: image/*（immutable 快取） }
        "404": { description: 不存在 }
